@page "/"
@inject HttpClient HttpClient

<div class="main px-4">
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li onclick="@(() => ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.BasePrice</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<div class="sidebar">
    @if (configuredPizzas.Any())
    {
        <div class="order-contents px-4">
            <h2>Your order</h2>

            @foreach (var configuredPizza in configuredPizzas)
            {
                <ConfiguredPizzaItem Pizza="configuredPizza" OnRemoved="() => RemoveConfiguredPizza(configuredPizza)" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total px-4 @(configuredPizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@OrderPrice.ToString("0.00")</span>
        <button class="btn btn-warning" disabled="@(configuredPizzas.Count == 0)">
            Order >
        </button>
    </div>
</div>

@if (showWaitDialog)
{
    <WaitDialog Message="@waitDialogMessage" />
}

@if (showConfigurePizzaDialog)
{
    <ConfigurePizzaDialog
        Pizza="@pizza"
        OnCancel="@CancelConfigurePizzaDialog" 
        OnConfirm="@ConfirmConfigurePizzaDialog" />
}

@functions {
    bool showWaitDialog;
    string waitDialogMessage;

    bool showConfigurePizzaDialog;
    Pizza pizza;

    List<Pizza> configuredPizzas = new List<Pizza>();

    List<PizzaSpecial> specials;

    decimal OrderPrice => configuredPizzas.Sum(p => p.GetTotalPrice());

    protected async override Task OnInitAsync()
    {
        showWaitDialog = true;
        waitDialogMessage = "Loading Specials";

        specials = await HttpClient.GetJsonAsync<List<PizzaSpecial>>("/specials");

        showWaitDialog = false;
        waitDialogMessage = null;
    }

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        pizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = PizzaSize.Medium,
            Toppings = new List<PizzaTopping>(),
        };

        showConfigurePizzaDialog = true;
        StateHasChanged();
    }

    void CancelConfigurePizzaDialog()
    {
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void ConfirmConfigurePizzaDialog()
    {
        configuredPizzas.Add(pizza);
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void RemoveConfiguredPizza(Pizza pizza)
    {
        configuredPizzas.Remove(pizza);
        StateHasChanged();
    }
}
