@page "/"

<div class="main px-4 py-3">
    <p>Pizza cards go here. This area will scroll if necessary.</p>
    <p>
        <button class="btn btn-primary" onclick="@ShowConfigurePizzaDialog">
            Buy pizza
        </button>
    </p>
</div>

<div class="sidebar px-4 py-3">
    <p>Current order info goes here. This area will scroll if necessary.</p>
</div>

@if (showConfigurePizzaDialog)
{
    <ConfigurePizzaDialog
        Special="@selectedSpecial"
        Toppings="@toppings"
        OnCancel="@CancelConfigurePizzaDialog" 
        OnConfirm="@ConfirmConfigurePizzaDialog" />
}

@functions {
    bool showConfigurePizzaDialog;
    PizzaSpecial selectedSpecial;
    List<Topping> toppings;

    void ShowConfigurePizzaDialog()
    {
        // TODO: replace this with real data we show the specials on this page
        selectedSpecial = new PizzaSpecial()
        {
            Id = 0,
            Name = "Placeholder supreme",
            Description = "Just a placeholder, hold your horses!",
            BasePrice = 11.99m,
        };
        toppings = new List<Topping>()
        {
            new Topping()
            {
                Name = "Donuts",
                Price = 1.99m,
            },
        };

        showConfigurePizzaDialog = true;
        StateHasChanged();
    }

    void CancelConfigurePizzaDialog()
    {
        selectedSpecial = null;
        toppings = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void ConfirmConfigurePizzaDialog()
    {
        selectedSpecial = null;
        toppings = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }
}
