@page "/"

<div class="main px-4 py-3">
    <p>Pizza cards go here. This area will scroll if necessary.</p>
    <p>
        <button class="btn btn-primary" onclick="@ShowConfigurePizzaDialog">
            Buy pizza
        </button>
    </p>
</div>

<div class="sidebar px-4 py-3">
    <div>
        <h3>Your order</h3>
    </div>
    <div class="sidebar-body">
        @foreach (var configuredPizza in configuredPizzas)
        {
            <ConfiguredPizzaItem Pizza="configuredPizza" OnRemoved="() => RemoveConfiguredPizza(configuredPizza)" />
        }
    </div>
    <div class="sidebar-buttons">
        <h3 class="px-2 py-3">£@(OrderPrice.ToString("0.00"))</h3>
        <div class="px-2 py-3">
            <button class="btn btn-primary" disabled="@(configuredPizzas.Count == 0)">Order ></button>
        </div>
    </div>
</div>

@if (showConfigurePizzaDialog)
{
    <ConfigurePizzaDialog
        Pizza="@pizza"
        OnCancel="@CancelConfigurePizzaDialog" 
        OnConfirm="@ConfirmConfigurePizzaDialog" />
}

@functions {
    bool showConfigurePizzaDialog;
    Pizza pizza;

    List<Pizza> configuredPizzas = new List<Pizza>();

    decimal OrderPrice => configuredPizzas.Sum(p => p.GetTotalPrice());

    void ShowConfigurePizzaDialog()
    {
        // TODO: replace this with real data we show the specials on this 
        pizza = new Pizza()
        {
            Special = new PizzaSpecial()
            {
                Id = 0,
                Name = "Placeholder supreme",
                Description = "Just a placeholder, hold your horses!",
                BasePrice = 11.99m,
            },
            SpecialId = 0,
            Size = PizzaSize.Medium,
            Toppings = new List<PizzaTopping>()
            {
                new PizzaTopping()
                {
                    Topping = new Topping()
                    {
                        Name = "Donuts",
                        Price = 1.99m,
                    },
                },
            },
        };

        showConfigurePizzaDialog = true;
        StateHasChanged();
    }

    void CancelConfigurePizzaDialog()
    {
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void ConfirmConfigurePizzaDialog()
    {
        configuredPizzas.Add(pizza);
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void RemoveConfiguredPizza(Pizza pizza)
    {
        configuredPizzas.Remove(pizza);
        StateHasChanged();
    }
}
