@page "/"
@inject HttpClient HttpClient
@inject IUriHelper UriHelper

<div class="main">
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li onclick="@(() => ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<div class="sidebar">
    @if (order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in order.Pizzas)
            {
                <ConfiguredPizzaItem Pizza="configuredPizza" OnRemoved="() => RemoveConfiguredPizza(configuredPizza)" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total @(order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@order.GetFormattedTotalPrice()</span>
        <button class="btn btn-warning" disabled="@(order.Pizzas.Count == 0)" onclick="@PlaceOrder">
            Order >
        </button>
    </div>
</div>

@if (showConfigurePizzaDialog)
{
    <ConfigurePizzaDialog
        Pizza="@pizza"
        OnCancel="@CancelConfigurePizzaDialog" 
        OnConfirm="@ConfirmConfigurePizzaDialog" />
}

@functions {
    [CascadingParameter] UserStateProvider UserState { get; set; }

    bool showConfigurePizzaDialog;
    Pizza pizza;

    Order order = new Order();

    List<PizzaSpecial> specials;

    protected async override Task OnInitAsync()
    {
        specials = await HttpClient.GetJsonAsync<List<PizzaSpecial>>("/specials");
    }

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        pizza = new Pizza()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize,
            Toppings = new List<PizzaTopping>(),
        };

        showConfigurePizzaDialog = true;
    }

    void CancelConfigurePizzaDialog()
    {
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void ConfirmConfigurePizzaDialog()
    {
        order.Pizzas.Add(pizza);
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void RemoveConfiguredPizza(Pizza pizza)
    {
        order.Pizzas.Remove(pizza);
        StateHasChanged();
    }

    async Task PlaceOrder()
    {
        // The server will reject the submission if you're not signed in, so attempt
        // to sign in first if needed
        if (await UserState.TrySignInAsync())
        {
            await HttpClient.PostJsonAsync("/orders", order);
            order = new Order();
            UriHelper.NavigateTo("myorders");
        }
    }
}
