@page "/myorders/{orderId:int}"
@inject HttpClient HttpClient
@implements IDisposable

<div class="main px-4 py-4">
    @if (invalidOrder)
    {
        <h2>Nope</h2>
        <p>Sorry, this order could not be loaded.</p>
    }
    else if (order == null)
    {
        <text>Loading...</text>
    }
    else
    {
        <div class="track-order d-flex flex-column">
            <div class="track-order-title d-flex align-items-center px-5 py-3">
                <h2>
                    Order placed @order.CreatedTime.ToLongDateString()
                </h2>
                <p class="ml-auto mb-0">
                    Status: <strong>@order.Status.ToDisplayString()</strong>
                </p>
            </div>
            <div class="flex-grow-1 d-flex">
                <div class="track-order-details px-5 py-3 flex-grow-1">
                    @foreach (var pizza in order.Pizzas)
                    {
                        <p>
                            <strong>
                                @(Pizza.GetSizeInInches(pizza.Size))"
                                @pizza.Special.Name
                                (£@pizza.GetTotalPrice().ToString("0.00"))
                            </strong>
                        </p>

                        <ul>
                            @foreach (var topping in pizza.Toppings)
                            {
                                <li>+ @topping.Topping.Name</li>
                            }
                        </ul>
                    }

                    <p>
                        <strong>
                            Total price:
                            £@order.Pizzas.Sum(p => p.GetTotalPrice()).ToString("0.00")
                        </strong>
                    </p>
                </div>
                <div class="track-order-map flex-shrink-0">
                    <DeliveryMap 
                        Id="deliveryMap"
                        Height="300"
                        Width="300"
                        Center="@center"
                        Zoom="13"
                        Start="@start"
                        End="@end"
                        Driver="@driver" />
                </div>
            </div>
        </div>
    }
</div>

@functions {
    [Parameter] int OrderId { get; set; }

    Order order;
    bool invalidOrder;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            invalidOrder = false;
            order = await HttpClient.GetJsonAsync<Order>($"/orders/{OrderId}");
        }
        catch (Exception ex)
        {
            invalidOrder = true;
            Console.Error.WriteLine(ex);
        }
    }

    Point center = new Point() { X = 51.5001, Y = -0.1239, };
    Marker start = new Marker() { Description = "Blazing Pizza HQ", X = 51.5098, Y = -0.124, };
    Marker driver = new Marker() { Description = "Your friendly Blazing Pizza driver", X = 51.5098, Y = -0.124, };
    Marker end = new Marker() { Description = "Queen Elizabeth II Center", X = 51.49811, Y = -0.12863, };

    bool animating;
    int step;
    int totalSteps = 20;

    protected override void OnInit()
    {
        animating = true;
        _ = UpdatePosition();
    }

    void IDisposable.Dispose()
    {
        animating = false;
    }

    async Task UpdatePosition()
    {
        await Task.Delay(TimeSpan.FromSeconds(1));
        if (!animating)
        {
            return;
        }

        step++;
        driver.X = start.X + (end.X - start.X) * ((double)step / (double)totalSteps);
        driver.Y = start.Y + (end.Y - start.Y) * ((double)step / (double)totalSteps);

        if (step == totalSteps)
        {
            animating = false;
            return;
        }

        StateHasChanged();
        _ = UpdatePosition();
    }

}
