@inject HttpClient HttpClient
@inject OrderState OrderState

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Pizza.Special.Name</h2>
            @Pizza.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>
                <input type="range" min="@Pizza.MinimumSize" max="@Pizza.MaximumSize" step="1" bind="Pizza.Size" />
                <span class="size-label">
                    @(Pizza.Size)" (£@(Pizza.GetFormattedTotalPrice()))
                </span>
            </div>
            <div>
                <label>Extra Toppings:</label>
                @if (AllToppings == null)
                {
                    <select class="custom-select" disabled>
                        <option>(loading...)</option>
                    </select>
                }
                else if (Pizza.Toppings.Count >= 6)
                {
                    <div>(maximum reached)</div>
                }
                else
                {
                    <select class="custom-select" onchange="@ToppingSelected">
                        <option value="-1" disabled selected>(select)</option>
                        @for (var i = 0; i < AllToppings.Count; i++)
                        {
                            <option value="@i">@AllToppings[i].Name - (£@(AllToppings[i].GetFormattedPrice()))</option>
                        }
                    </select>
                }
            </div>

            <div class="toppings">
                @foreach (var topping in Pizza.Toppings)
                {
                    <div class="topping">
                        @topping.Topping.Name
                        <span class="topping-price">@topping.Topping.GetFormattedPrice()</span>
                        <button type="button" class="delete-topping" onclick="@(() => OrderState.RemoveTopping(topping.Topping))">x</button>
                    </div>
                }
            </div>
        </form>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" onclick="@OrderState.CancelConfigurePizzaDialog">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">@(Pizza.GetFormattedTotalPrice())</span>
            </span>
            <button class="btn btn-success ml-auto" onclick="@OrderState.ConfirmConfigurePizzaDialog">Order ></button>
        </div>
    </div>
</div>

@functions {
    [Parameter] List<Topping> AllToppings { get; set; }
    Pizza Pizza => OrderState.ConfiguringPizza;

    protected async override Task OnInitAsync()
    {
        AllToppings = await HttpClient.GetJsonAsync<List<Topping>>("/toppings");
    }

    void ToppingSelected(UIChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            OrderState.AddTopping(AllToppings[index]);
        }
    }
}
